:root {
  --gray-light: rgb(229, 226, 222);
  --blue-light: rgb(96, 121, 141);
  --blue-dark : rgb(30, 40, 57);
}

/* FONTS */
@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Medium.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Demi.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Bold.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-MediumItalic.woff2') format('woff2'),
      url('../assets/fonts/Tiller-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-RegularItalic.woff2') format('woff2'),
      url('../assets/fonts/Tiller-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Regular.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL STYLES */

.item .window-content {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

.window-app .window-header {
  font-family: "Tiller", serif;
  flex: 0 0 40px;
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  border-bottom: 1px solid var(--color-border-dark);
  display: flex; /* Ajouté pour activer le flexbox */
  align-items: center; /* Ajouté pour aligner verticalement */
}

.window-app .window-header {
  border-radius: 5px 5px 0px 0px;
  background-image: url(../assets/visuals/header_blue_600.png);
}

.item h1 {
  text-decoration: none; /* Ajouté pour supprimer le soulignement */
  border: none;
}

    /* boutons */

.item button {
  background-color: transparent !important;   /* Utilisez 'transparent' au lieu de 'none' */
  border: none !important;                    /* Enlevez la bordure */
  outline: none !important;                   /* Enlevez le contour */
}

button:hover {
  box-shadow: none; 
}

    /* images */

img {
  border : none;
  border-radius: 5px;
}

.small-img {
  width: 50px;
  max-width: 50px;
}

.medium-img {
  width: 75px;
  max-width: 75px;
}

  /* header */

header .header-name {
  color : var(--gray-light);
  height: 50px;
  border: none;
}

/* TESTER */

header .item-spell-header{
  background-color: var(--blue-dark);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.2);
}


  /* header */

/* .item header{
  background-image: url(../assets/visuals/header_blue_600.png);
} */




/* .preview {
    background: none; 
    padding: 0; 
    cursor: pointer; 
  }
  
.button-image {
    width: 50px !important; 
}  */

/* .theme-dark .dnd5e2.sheet.item .window-content::before, .dnd5e2.sheet.item.dnd5e-theme-dark .window-content::before {
  content: "";
  position: absolute;
  inset: 0 0 auto  0;
  height: 150px;
  border-radius: 5px 5px 0 0;
  opacity: 0.2;
  background: url("ui/official/banner-item-dark.webp") no-repeat top center / cover;
  mask-image: linear-gradient(to bottom, black, transparent);
} */


/* .window-content::before {
  z-index: -1;
  content: "";
  position: absolute;
  margin-top: 50px;
  inset: 0 0 auto 0;
  height: 100px;
  border-radius: 5px 5px 0 0;
  opacity: 0.5;
  background-color: blue; 
  mask-image: linear-gradient(to bottom, black, transparent);
  resize: none;
} */

/* .window-content > form {
  padding: 0px 0px 0px 0px;
}

.profile-img {
  width: 50px !important;
}

header .item-spell-header{
  background-color: blue;
}

.tester {
  background-color: purple;
}

header .item-spell-header {
  height: 200px !important;
}

header .h1 {
  color: rebeccapurple;
} */

