:root {
  --gray-light: rgb(229, 226, 222);
  --blue-light: rgb(96, 121, 141);
  --blue-dark : rgb(30, 40, 57);
}

/* FONTS */
@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Medium.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Demi.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Bold.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-MediumItalic.woff2') format('woff2'),
      url('../assets/fonts/Tiller-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-RegularItalic.woff2') format('woff2'),
      url('../assets/fonts/Tiller-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Tiller';
  src: url('../assets/fonts/Tiller-Regular.woff2') format('woff2'),
      url('../assets/fonts/Tiller-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL STYLES */

.item .window-content {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

.window-app .window-header {
  font-family: "Tiller", serif;
  flex: 0 0 40px;
  overflow: hidden;
  padding: 0 8px;
  line-height: 30px;
  border-bottom: 1px solid var(--color-border-dark);
  display: flex; /* Ajouté pour activer le flexbox */
  align-items: center; /* Ajouté pour aligner verticalement */
}

.window-app .window-header {
  border-radius: 5px 5px 0px 0px;
  background-image: url(../assets/visuals/header_blue_600.png);
}

.item h1 {
  text-decoration: none; /* Ajouté pour supprimer le soulignement */
  border: none;
}

    /* boutons */

.item button {
  background-color: transparent !important;   /* Utilisez 'transparent' au lieu de 'none' */
  border: none !important;                    /* Enlevez la bordure */
  outline: none !important;                   /* Enlevez le contour */
}

button:hover {
  box-shadow: none; 
}

    /* images */

img {
  border : none;
  border-radius: 5px;
}

.xsmall-img {
  width: 40px;
  max-width: 40px;
}

.small-img {
  width: 50px;
  max-width: 50px;
}

.medium-img {
  width: 75px;
  max-width: 75px;
}

  /* header */

header .header-name {
  font-family: "Tiller";
  color : var(--gray-light);
  height: 50px;
  border: none;
  font-size: 35px;
}

header .item-spell-header{
  background-color: var(--blue-dark);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.2);
}

  /* formulaire */

form input {
  font-size: 20px;
  height: 30px;
  text-align: center;
  font-family: "Tiller";
  color : var(--blue-dark);
  width: 50px;
}

.form-drop-small {
  width: 200px;
}

form .form-group {
  font-size: 20px;
  font-family: "Tiller";
  color : var(--blue-dark);
}

form .form-group label {
  font-weight: bold; 
}

form .form-group .form-group-content {
  text-align: left;
  white-space: pre-wrap;
  max-width: 100%; 
}

form .form-group .form-textarea {
  font-family: "Tiller";
  font-size: 20px;
  resize : none;
}

form .form-group .form-check-label {
  font-weight: normal;
}

/* form .form-text-wrap {
  white-space: pre-wrap;
  max-width: 100%; 
} */